* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #083b4c;
}
.container {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
}

/*boxes*/
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  background-color: white;
  margin: 5px;
}
